/* 浏览器重置 start */
body,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,form,fieldset,legend,input,select,textarea,button,th,td,menu,article,pre,xmp,plaintext,listing{margin:0;padding:0;}
pre,xmp,plaintext,listing{white-space:normal;}
article,aside,dialog,figure,footer,header,hgroup,nav,section,select,time{display:block;}
h1,h2,h3,h4,h5,h6,input,textarea,select,button,label{font-size:100%;font-weight:100;vertical-align:middle;}
ul,dl,ol{list-style:none;}
img,fieldset,input[type="submit"]{border:none;}
input{outline:none;background:transparent;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0; }
button{cursor:pointer;border:none;}
textarea{word-wrap:break-word;resize:none;}
/* 去除IE下拉菜单箭头 */
select::-ms-expand{display:none;}
/* 去除输入框、文本域默认边框和IOS4下的内阴影 */
input, textarea, select{border:1px solid #aaa;outline:none;font-family: "microsoft yahei";}
/* 设置Gecko内核下输入框属性placeholder中值的文件颜色 */
input:-moz-placeholder{color:#C4C4C4;}
/* 设置webkit内核下输入框属性placeholder中值的文件颜色 */
::-webkit-input-placeholder{color:#C4C4C4;}
body{background:#e7e9ed;font-family:'Hiragino Sans GB','Hiragino Sans GB W3','Microsoft YaHei','WenQuanYi Micro Hei',sans-serif;-webkit-text-size-adjust:none;-webkit-tap-highlight-color:rgba(0,0,0,0.05);min-height:100%;color:#333333;}
/* 设置webkit内核下文字大小不小于12px */
html,body{-webkit-text-size-adjust:none;height:100%;width:100%;}
/* 禁止长按链接、按钮、输入框出现系统默认弹框菜单 */
a,button,input{-webkit-touch-callout:none;outline:none;}
a,a:visited{text-decoration:none;-webkit-touch-callout:none;}
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }


/* 浏览器重置 end */
.clearfix:after{visibility:hidden;display:block;font-size:0;content: " ";clear:both;height:0;}
.clearfix{*zoom:1;}
.fl{float:left;}
.fr{float:right;}
.hide{display: none;}
.show{display: block;}
.text-center{text-align: center!important;}
.iframe-file{border:0px;overflow: hidden;height:36px;}

body{min-width:1200px;}
.main{width:1200px;margin:0 auto;position: relative;}
.top-tab{border-bottom:1px solid #aaa;line-height:54px;font-size:20px;}
.top-tab>span{display: inline-block;padding:0 20px;cursor: pointer;position: relative;}
.top-tab .active{border-bottom:4px solid #40bbea;}
.table{width:100%;text-align: center;font-size:13px;border-left:1px solid #ccc;border-right:1px solid #ccc;}
.table thead{font-size:14px;line-height:42px;}
.table thead th{border-top:1px solid #ccc;border-bottom:1px solid #ccc;}
.table tbody tr td{border-bottom:1px solid #ccc;padding:12px 0;}
.table a{color:#40bbea;display: inline-block;width:200px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.table .detail{cursor: pointer;color:#40bbea;}

/*login*/
.login{width:360px;margin:0 auto;background: #fff;font-size:12px;text-align: center;border-radius:4px;}
.top-space{height:20%;}
#email{background: url("../img/user-icon.png") no-repeat;background-position: left;}
#pass{background: url("../img/pass-icon.png") no-repeat;background-position: left;}
.login .login-row{padding:10px 0;}
.login input{width:290px;+width:240px;height:38px;line-height:38px;border:1px solid #ddd;padding-left:50px;}
.login .login-title{padding:36px 0 26px 0;font-size:20px;color:#333;}
.login .check{text-align:left;margin-left:36px;}
.login .check input{width:16px;vertical-align: middle;border:0px;box-sizing: content-box;padding-left:0px;}
.login .check span{vertical-align: middle;margin-left:8px;font-size:14px;}
.right{text-align: center;font-size:12px;margin-top:18px;}
.login-bottom{text-align: left;}
.login-bottom a{color:#40bbea;display: inline-block;font-size:14px;line-height:48px;margin-bottom:10px;}
.login .login-btn{width:290px;margin:0 auto;border-radius:4px;height:40px;line-height:40px;background: #40bbea;color:#fff;font-size:14px;cursor: pointer;}
.login .login-btn:hover{background: #31addc;}
.login-bottom .forget{margin-left:36px;}
.login-bottom .reg-link{margin-left:140px;border:0px;}
.login-row label.error{color:#ff0000;display:block;font-size:14px;display: block;text-align: left;margin-left:40px;}


/*reg*/
.reg{height:800px;background: #fff;margin-top:22px;border:1px solid #ccc;padding:40px 0;}
.reg .title{line-height:82px;text-align: center;border-bottom:1px solid #aaa;font-size:20px;}
.reg-main{width:576px;margin:0 auto;}
.reg .child-title{font-size:18px;margin:40px 0 20px 0;}
.reg-main label{width:90px;display: inline-block;line-height:32px;}
.reg-main .error{line-height:normal;}
.reg-main .reg-row{padding:10px 0;font-size:14px;}
.reg-main label span{color:#ff0000;}
.reg-main input,select{width:478px;+width:468px;height:40px;line-height:40px;display: inline-block;padding-left:10px;}
.create-btn{margin:20px 0 20px 240px;}

/*tender*/
.tender{background: #fff;margin:22px 0;border:1px solid #ddd;}
.tender-main{width:1143px;margin:0 auto;padding-bottom:20px;}
.tender .title{padding-top:62px;padding-bottom:20px;font-size:20px;border-bottom:1px solid #aaa;text-align: center;color:#000;}
.tender-main>p{font-size:14px;text-indent: 2em;padding:20px 0 0 0;line-height:20px;}
.tender-main .content{margin-left:50px;font-size:14px;line-height:20px;}
.tender-main .sub-title{font-size:16px;text-indent: 2em;margin-top:20px;line-height:28px;color:#000;}
.tender-btn{margin:20px 0;}
.top-btn{position: absolute;right:10px;top:22px;display: none;}
.top-btn span{color:#fff;padding:6px 36px;font-size:14px;cursor: pointer;}
.top-btn .login-btn{background:#40bbea;margin-right:14px;}
.top-btn .login-btn:hover{background: #31a9d7;}
.top-btn .reg-btn{background:#27ae60;}
.top-btn .reg-btn:hover{background: #1d9b52;}

/*overview*/
.overview{background: #fff;margin:22px 0;border:1px solid #ccc;position: relative;}
.overview-main{width:943px;margin:0 auto;padding-bottom:20px;}
.overview .title{padding:24px 0 18px 0;text-align: center;border-bottom:1px solid #aaa;font-size:20px;margin-bottom:26px;}
.overview .detail{margin-right:18px;}
.back-btn{margin-left:400px;margin-top:20px;}

/*manage*/
.right-title{margin-left:20px;padding:10px 0;font-size:18px;}
.right-title span{font-size:14px;}
.status{width:754px;+width:654px;border:1px solid #aaa;position: relative;padding:10px 0 10px 100px;font-size:14px;position: relative;}
.status-text{position: absolute;left:40px;padding:4px 0;}
.status-tab span{display: inline-block;padding:4px 16px;cursor: pointer;}
.status-tab .active{background: #27ae60;color:#fff;}
.manage-table{width:754px;margin-top:36px;}
.manage-table ul{border:1px solid #aaa;}
.manage-table .manage-body{border:1px solid #aaa;border-bottom:0px;text-align: center;}
.manage-table .manage-body a{color:#5454ff;text-decoration: underline;}


.manage-table .manage-body td{vertical-align: middle;padding:16px 0;text-align: center;border-bottom:1px solid #aaa;word-break: break-all;}
.manage-table .header{margin-bottom:23px;}
.manage-table ul li{float:left;padding:16px 0;text-align: center;}
.manage-table .cell0{width:40px;}
.manage-table .cell0 input{vertical-align: middle;margin-top:-2px;}
.manage-table .cell1{width:70px;}
.manage-table .cell2{width:280px;}
.manage-table .cell3{width:150px;}
.manage-table .cell4{width:100px;}
.manage-table .cell5{width:112px;}
.menu-tip{display: inline-block;width:28px;height:28px;background: url("../img/tip_bg.png");line-height:28px;text-align: center;margin-left:4px;color:#fff;}

.top-tab .tab-tip{display: inline-block;width:28px;height:28px;padding:0;font-size:12px;position:absolute;top:8px;background: url("../img/tip_bg.png");line-height:28px;text-align: center;margin-left:4px;color:#fff;}


.manage-main{margin-top:35px;position: relative;padding-left:200px;min-height: 280px;}
.left-menu{width:182px;position: absolute;left:0px;}
.left-menu ul{width:182px;text-align: center;}
.left-menu ul li{padding:10px 0;border:1px solid #aaa;border-top:0px;cursor: pointer;position: relative;}
.left-menu .menu-title{padding:20px 0;width:182px;+width:180px;text-align: center;border:1px solid #aaa;}
.left-menu ul .active{background: #dad5d5;}


.tab{border:1px solid #ccc;background: #f5f5f5;margin-top:20px;border-bottom:0px;height:46px;line-height:46px;}
.tab li{float:left;width:332px;text-align: center;}
.tab .active1{color:#fff;background: url("../img/tab1.png");background-size:100% 100%;}
.tab .active2{color:#fff;background: url("../img/tab2.png");background-size:100% 100%;}
.tab .active3{color:#fff;background: url("../img/tab3.png");background-size:100% 100%;}


.top-title{height:72px;line-height:72px;font-size:24px;background:#4c5589;color:#fff;}
#header{height:62px;background: #303641;position: relative;z-index:1000;}
.down-menu{background: #fff;width:170px;border:1px solid #aaa;position: absolute;right:0px;z-index:100;text-align: center;top:58px;border-radius: 6px;}
.down-menu ul li{padding:10px 0;cursor: pointer;}
.down-menu img{position: absolute;right:4px;top:-10px;}

.company-info{border:1px solid #ccc;background:#fff;}
.company-info .step{width:958px;margin-left:20px;font-size:14px;}
.company-info .title{font-size:18px;border-bottom:1px solid #aaa;line-height:50px;margin-bottom:24px;}
.company-info input{width:586px;height:32px;line-height:32px;padding-left:10px;+width:576px;font-size:14px;}
.car-row{padding:6px 0;margin:14px 0;position: relative;}
.form-row{padding:6px 0;margin-top:14px;position: relative;}
.form-row label{width:142px;+width:140px;display: inline-block;padding-right:4px;font-size:14px;line-height:32px;}
.form-row span{line-height:32px;}
.form-list .form-row label{vertical-align:top;}
.form-row textarea{width:586px;height:118px;}
.form-row label span{color:#ff0000;display: inline-block;width:14px;text-align:center;}
.car-row .icon{background:#606c81;color:#fff;display: inline-block;font-size:14px;height:32px;+height:35px;line-height:32px;padding:0 10px;margin-left:-6px;}
.form-row .icon{background:#606c81;color:#fff;display: inline-block;font-size:14px;height:32px;+height:35px;line-height:32px;padding:0 10px;margin-left:-6px;}
.form-list .info{margin-left:144px;width:586px;font-size:14px;color:#999;}
.btn{width:128px;text-align: center;padding:6px 0;display:inline-block;cursor: pointer;}

.btn-blue{background: #40bbea;color:#fff;border:1px solid #40bbea;}
.btn-blue:hover{background: #34abd8;}

.btn-green{background:#27ae60;color:#fff;border:1px solid #27ae60;}
.btn-green:hover{background: #219f56;}

.btn-left{border:1px solid #aaa;background: #f5f5f5;margin-right:8px;}
.btn-left:hover{background: #ddd;}
.btn-right{border:1px solid #27ae60;background: #27ae60;color:#fff;}
.btn-right:hover{background: #209953;}



.btn-row{margin-top:20px;width:300px;margin-left:328px;margin-bottom:44px;}
.red{color:#ff0000;}
.file{display:inline-block; width:128px; height:32px;line-height:32px; background:#f5f5f5; position:relative; overflow:hidden;font-size:14px;border:1px solid #aaa;text-align:center;}
.file-table{display:inline-block; width:152px;height:98px;+height:58px;padding-top:30px;border-radius: 10px; background:#f5f5f5; position:relative; overflow:hidden;font-size:14px;border:1px solid #aaa;text-align:center;}
.file-table input{position:absolute; right:0; top:0; height:98px;font-size:100px; opacity:0; filter:alpha(opacity=0);}
.file input{position:absolute; right:0; top:0; font-size:100px; opacity:0; filter:alpha(opacity=0);}
.file-list{width:586px;margin-left:142px;padding:18px 0;}
.file-list span{margin-right:24px;}

#header .logo{width:230px;margin-top:10px;}
.my{color:#fff;top:20px;position: absolute;right:4px;cursor: pointer;}
.my span{display: inline-block;vertical-align:middle;}
.avatar{border-radius: 50%;background: #ddd;width:30px;height:30px;display: inline-block;vertical-align: middle;margin-right:4px;}
.bottom-space{height:30px;}
.btn-center{margin:0 auto;}

.tip{border:1px solid #fb1e47;padding:10px 0;margin-top:30px;font-size:16px;}
.tip img{margin:0 10px;vertical-align: middle;margin-top:-4px;}

.car-info{font-size:13px;width:958px;text-align: center;margin-bottom:34px;}
.car-info thead th{height:52px;padding:0 4px;border:1px solid #bbb;}
.car-info tbody tr{border-left:1px solid #bbb;border-bottom:1px solid #bbb;}
.car-info tbody .odd{background:#f2f2f2;}
.car-info tbody td{padding:15px 0;border-right: 1px solid #bbb;border-bottom:1px solid #bbb;}

.add-car{border:1px solid #d3d3d3;padding:26px;margin-top:20px;}
.add-car .top{height:33px;margin-bottom:24px;}
.add-car span{vertical-align: middle;}

.car-info span{cursor: pointer;color:#5454ff;border-bottom:1px solid #5454ff;}

.shadow{background: #000;opacity: 0.6;z-index:100;position: fixed;width:100%;height:100%;top:0px;
    filter:alpha(opacity=60);
    -moz-opacity:0.6;
    -khtml-opacity: 0.6;
    opacity: 0.6;
}
.dialog{width:800px;background: #fff;padding:36px 30px;margin-bottom:40px;position: absolute;top:10%;left:50%;margin-left:-400px;z-index:1000;}
.dialog .title{font-size:18px;padding-bottom:16px;}
.dialog .child-title{border-top:1px solid #e5e5e5;padding:15px 0;font-size:16px;}
#add-car label{display: block;padding:0 0 8px 0;}
.dialog .label-row{width:130px;display: inline-block;margin-top:-8px;+margin-top:0;}
#add-car .label-row{display: inline-block;}
.dialog label span{color:#ff0000;}
.dialog select{display: inline-block;width:356px;height:32px;line-height:32px;}
.dialog input{width:356px;height:32px;line-height:32px;}
#add-car .form-control{width:50%;height:87px;float:left;}
#view-car .form-control{width:33%;height:36px;float:left;}
#view-car .form-control label{display: inline-block;}
#view-car .form-control span{display: inline-block;}
.dialog .info{font-size:14px;color:#999999;margin-left:134px;}
.btn-mt{margin-top:34px;}
.pull-center{margin:0 auto;display: block;}
.close-icon{position: absolute;top:30px;right:30px;cursor: pointer;}
.insure-info input{width:200px;}
.middle-text{vertical-align: middle;line-height:32px;display: inline-block;}
#add-car .insurance-info label{vertical-align: top;margin-top:8px;}
#view-car .info-row{margin-bottom:8px;}
#view-car .insure-info{margin-bottom:18px;}

/*company-detail*/
.company-detail{margin-top:24px;}
.detail-top{border:1px solid #aaa;margin-top:24px;background: #fff;padding:20px 0;font-size:18px;position: relative;}
.detail-top span{margin-left:20px;}
.submit-time{font-size:14px;right:42px;position: absolute;top:20px;}
.star-btn{border:1px solid #ccc;padding:10px 16px;border-radius: 4px;}
.star-btn span{vertical-align: middle;margin-left:6px;}
.star-btn img{vertical-align: middle;width:30px;heihgt:30px;}
.detail-bottom{width:100%;height:76px;background: #fff;position: fixed;bottom:0px;left:0px;border-top:1px solid #aaa;}
.detail-space{height:96px;}
.detail-bottom .top-menu{background: #fff;position: absolute;width:128px;right:0px;bottom:-30px;z-index:1000;border-top:1px solid #aaa;text-align: center;font-size:14px;}
.detail-bottom .top-menu li{border:1px solid #aaa;border-top:0px;padding:10px 0;cursor: pointer;}
.detail-bottom .btn-row{position: absolute;right:-20px;+right:-19px;top:6px;}
.detail-bottom .btn-row .btn{margin-left:10px;}
.small-dialog{width:600px;;margin-left:-300px;}
.small-dialog .title{border-bottom:1px solid #e5e5e5;}
.small-dialog .reason{height:120px;}
.small-dialog .reason textarea{width:538px;+width:598px;height:120px;margin-top:20px;position: absolute;}
.dialog-btn{text-align: center;margin-top:46px;}

.form-row label.error{color:#ff0000;width:auto;display:block;margin-left:144px;}
.money-icon{position: absolute;right:180px;top:6px;}
.agreement-title{font-size:20px;text-align: center;padding:20px 0 10px 0;border-bottom:1px solid #aaa;}
.agreement{border:1px solid #aaa;margin-top:36px;height:360px;}
.agreement p{margin-top:16px;width:936px;margin-left:10px;font-size:14px;line-height:20px;}
.consent{line-height:30px;margin-top:20px;}
.consent span{vertical-align: middle;}
.consent input{width:16px;+width:20px;vertical-align: middle;border:0px;}
.agreement-next{margin:26px 0;text-align: center;}
.reg-row label.error{color:#ff0000;font-size:14px;margin-left:92px;width:auto;}

.forget-top{width:560px;height:60px;margin:0 auto;position: relative;top:20px;}
.forget-top .left-img{width:26px;height:26px;position: absolute;left:0px;}
.forget-top .right-img{position: absolute;right:0px;}
.forget-top .line{display: inline-block;width:510px;height:1px;background: #aaa;position: absolute;left:25px;top:12px;}
.forget-top .left-text{position: absolute;left:-16px;top:26px;}
.forget-top .right-text{position: absolute;right:-15px;top:26px;}
.forget-row{text-align: center;width:400px;margin:0 auto;padding-top:20px;}
.forget-row label{line-height:32px;margin-right:12px;}
.forget-row input{height:32px;line-height:32px;width:336px;padding-left:10px;+width:326}
.forget-btn{margin:40px 0;}
.forget-row label.error{color:#ff0000;display:block;font-size:14px;margin-left:60px;width:auto;text-align: left}

.cus-tip{color:#ff0000;font-size:14px;margin-left:20px;}
#add-car label.error{color:#ff0000;font-size:14px;}

.dialog .laydate-icon{+width:306px;}
.carNo label.error{margin-left:132px;}

.company .title{text-align: left;}
.company .company-info{border:0px;}
.company .overview-main{padding-bottom:0px;}
.mt0{margin-bottom:0px!important;}
.btn-col{margin:20px 0 40px 0;text-align: center;}

.date-middle{margin:0 8px;}
.history{color:#5454ff;border-bottom:1px solid #5454ff;cursor: pointer;}
textarea.error,input.error{border: 1px solid #ff0000;}
.company-info .radio{width:14px;height:14px;margin-right:4px;vertical-align: middle;border:0px;outline: none;}
.report-type span{margin-right:20px;vertical-align: middle;display: inline-block;}
.btn-list{width:500px;margin:20px 0 0 590px;}
#btnTemp{margin-right:8px;}
.company-main{width:1000px;margin:0 auto;}
.btn-space{height:86px;}
#companyForm{margin-bottom:30px;}
.login-email{display: none;}

.export-btn{position: absolute;right:10px;top:12px;cursor: pointer;background:#27ae60;color:#fff;padding:4px 14px;}

.main-tab{border: 1px solid #ddd;background: #f5f5f5;}
.main-tab li{height:46px;line-height:46px;float:left;width:33%;}
.main-tab li:last-child{width:34%;}
.main-tab li a{display: block;color:#333;text-align: center;}
.main-tab li.active{background: #40bbea;color:#fff;}
.main-tab li.active a{color:#fff;}

.home-table{padding-bottom:40px;}
.home-table .table-header div{float:left;width:225px;border: 1px solid #f1f1f1;background: #ddd;line-height:36px;text-align: center;margin:40px 30px 0 30px;}
.home-table li a{display: block;float:left;color:#333;width:225px;border: 1px solid #f1f1f1;background: #f9f9f9;line-height:36px;text-align: center;margin:40px 30px 0 30px;}
.home-table li a:hover{background:#40bbea;color:#fff;}
.container{width:1143px;height:800px;}
.tab-col{position: relative;line-height:34px;margin-top:40px;top:1px;z-index:10;}
.tab-col span{background: #f1f1f1;display: inline-block;padding:0 30px;cursor: pointer;}
.tab-col span.active{border:1px solid #ccc;line-height:34px;background: #fff;border-bottom:1px solid #fff;cursor: auto;}
.tab-list .container{border:1px solid #ccc;padding-top:20px;}

.chart-main{margin-bottom:20px;}
.chart-main h1{margin-top:20px;padding:10px 10px 16px 10px;font-weight: bold;}
.chart-main .chart-col{width:1143px;height:500px;border:1px solid #ccc;padding:20px;}

.search-col{padding:30px 0 20px 0;}
.search-col label{display: inline-block;margin-right:4px;}
.search-col input{height:28px;line-height:28px;border:1px solid #ddd;margin-right:20px;}
.search-col button{background: #40bbea;color:#fff;display: inline-block;padding:5px 20px;font-family: microsoft yahei;margin-right:10px;position: relative;top:-2px;}

.detail-col{margin-top:20px;border:1px solid #ccc;}
.detail-table{width:1143px;box-sizing: border-box;}
.detail-table td{padding:8px 10px;border-bottom:1px dashed #ccc;line-height:24px;}
.detail-table tbody .gray-bg{text-align:right; }
.detail-table caption{padding:14px 0;border:1px solid #ccc;}
.gray-bg{background: #f1f1f1;}


.pagination{margin:30px 0 10px 0;text-align: right;font-size:14px;}
.pagination a {
    text-decoration: none;
    border: 1px solid #303641;
    color: #303641;
}

.pagination a, .pagination span {
    display: inline-block;
    padding: 3px 8px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.pagination .current {
    background: #303641;
    color: #fff;
    border: 1px solid #303641;
}

.pagination .current.prev, .pagination .current.next{
    color:#999;
    border-color:#999;
    background:#fff;
}





